body {
  background-color: black;
}

h1 {
  color: white;
}

.books-list {
  color: white;
}

.white-text {
  color: white;
}

.book-covers {
  height: 250px;
  width: 175px;
}

.login-buttons {
  position: relative;
  top: 10%;
  left: 40%;
}

.welcome-heading {
  position: relative;
  top: 10%;
  left: 37%;
}

.main-image {
  position: relative;
  left: 10%;
  height: 400;
  width: 800px;
}
