body {
  background-color: black;
}

h1 {
  color: white;
}

.books-list {
  color: white;
}

.white-text {
  color: white;
}

.book-covers {
  height: 250px;
  width: 175px;
}

.main-image {
  position: fixed;
  top: 5%;
}

.login-buttons {
  position: relative;
  top: 10%;
  left: 40%;
}
